@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #F8F8F2;
  -webkit-box-shadow: 0 0 0 5rem #282A36 inset;
}